
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');
*{
	scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
  }
.navbar {
	background: transparent !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(250, 91, 91);
}
.navbar-light .navbar-nav .nav-link{
	color: rgb(255, 255, 255) ;
}

.banner{
    width: 100%;
	height: 100vh;
	background-image:url('../imgs/teamwork.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 76vh;
    background:rgb(58, 49, 58);
    opacity: 0.5;
}
.contentBox{
	position: relative;
	display: flex;
	justify-content: center;

	text-align: center;
   
}
.contentBox h1{
    margin:14rem 3rem;
	color: #fff;
    font-size: 4rem;
    font-weight: bold;
}
.contentBox small{
    font-size:4rem ;
    font-style: italic;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    color:rgb(221, 53, 53) ;
}

.sec1 {
    padding: 100px 0;
    background-color: rgb(228, 225, 225);
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    
  
}
.feature{
    display: flex;
    background-color: #fff;
    margin-top: -250px ; 
    z-index: 1; 
    box-shadow: 8px 10px 8px  #aaaa; 
}
.card{
    padding: 40px 10px;
    text-align: left;
    border: none;
}
.card-body h2{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(67, 67, 99);
    padding-bottom: 40px;
    margin-top: 60px;
}
.card-body p{
    padding-bottom: 20px;
    color: rgb(107, 103, 103);

    
}
.card-body .btnD1{
    background-color: rgb(243, 65, 65);
    border-radius: 40px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.card-body h3{
    font-weight: bold;
    color: rgb(67, 67, 99);
    padding:20px 10px; 
}
.services{
    padding: 100px 0;
    position: relative;
}

.sec2{
    background-color: rgb(228, 225, 225);
    margin:0;
}
.sec2 h2{
    margin-top: 30px;
    font-size: 2.3rem;
    font-weight: bold;
    color: rgb(67, 67, 99);
}
.sec2 p{
    color: rgb(67, 67, 99);
    font-style: italic;
}
.col-sm-6{
    display: flex;
}
.card-services{
    position: relative;
    width: 90%;
    height: 75vh;
    margin-left: 30px;
}
.card a{
    text-decoration: none;
}
.card-body .arrow{
    font-size: 3rem;
    color: rgb(211, 36, 36);
    padding-bottom: 60px;
}
@media screen and (max-width: 375px){
    .contentBox h1{
        font-size: 3rem;
    
    }
    .contentBox  small{
        font-size:3rem ;
    }
    .banner:before{
       height: 98vh;
    }
    .feature{
        width: 90%;
    }
    .sec2 h2{
        font-size: 30px;
    }
    .card-services{
        margin-bottom: 30px;
        height: 60vh;
    }
}



body {
    font-family: 'Roboto', sans-serif;
}
:root {
    
    --main-ftr-color: #3f3d56;
    --text-color: #bebbdc;
    --link-hvr-color:#ee2c35;
}
.col-list {
    list-style: none;
    padding-left: 0;
}

footer {
    min-height: 60vh;
    background-color: var(--main-ftr-color);
}

.col {
    margin-top: 6rem;
}

.copyright {
    margin-top: 3rem;
}

.logo-img {
    margin-bottom: 1rem;
}

.footer-col-title {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1.2rem;
}

.col-list-item {
    color:var(--text-color);
    margin-bottom: 0.3rem; 
}

.col-list-link{
    color: var(--text-color);
}

.col-list-link:hover {
    text-decoration: none;
    color: var(--link-hvr-color) ;
    transition: .4s all ease-in-out;
}

.copyright {
    font-size: 12px;
    color: var(--text-color);
}

.icon {
   margin-right: 1rem;
   margin-bottom: 1rem;
}

.row {
    margin: 0 auto;
}



/* Storing some colors */
/* Storing some colors */
/* Storing some colors */

:root{

    --dark-purple:rgb(64,63,85);
    --light-purple:rgb(127,125,171);
}

/* Adding styles to the DRIVEN TO DELIVER SECTION */
/* Adding styles to the DRIVEN TO DELIVER SECTION */
/* Adding styles to the DRIVEN TO DELIVER SECTION */
.container-driven-to-deliver{

    padding-top: 4rem;
    
    color:var(--dark-purple);
}
.container-driven-to-deliver h2{

    color: var(--light-purple);
    font-family: 'Lobster', cursive;
}


/* Adding styles to SUBSCRIBE TO OUR NEWSETTLER*/
/* Adding styles to SUBSCRIBE TO OUR NEWSETTLER*/
/* Adding styles to SUBSCRIBE TO OUR NEWSETTLER*/
/* Adding styles to SUBSCRIBE TO OUR NEWSETTLER*/

.subscribe-container-fluid{
    background: url(http://jevelin.shufflehound.com/finances/wp-content/uploads/sites/26/2019/07/susbscribe-bg.jpg?id=553);
    min-height: 50vh;
    background-repeat: no-repeat;
}

.email-input{

    border:none;
    border-radius: 20px;
}


/* Adding styles to OUR CLIENTS SECTION*/
/* Adding styles to OUR CLIENTS SECTION*/
/* Adding styles to OUR CLIENTS SECTION*/

.our-clients-section{

    min-height: 90vh;
    color: var(--dark-purple);
}

