:root {
    
    --main-ftr-color: #3f3d56;
    --text-color: #bebbdc
    
  }
.col-list {
    list-style: none;
    padding-left: 0;
}

footer {
    min-height: 60vh;
    background-color: var(--main-ftr-color);
}

.col {
    margin-top: 6rem;
}

.copyright {
    margin-top: 3rem;
}

.logo-img {
    margin-bottom: 1rem;
}

.footer-col-title {
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.col-list-item {
    color:var(--text-color);
}

.col-list-link{
    color: var(--text-color);
    text-decoration: none;
} 





