:root {
    --bg-color: #fbfbfb;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:var(--bg-color) ;
}

.first-section {
    padding: 3rem 0 ;
}

.cards-section {
    background-color: white;
    padding: 4rem 0;
}

.card {
    margin-bottom: 2rem;
}